# dependencies
node_modules/
.pnp
.pnp.*

# next.js / build output
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# env / secrets
.env
.env.*
*.pem
*.key
id_rsa*

# vercel
.vercel

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# os
.DS_Store
Thumbs.db
